<!doctype html>
<html>
  <head>
    <title><%= document.title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
  </head>
  <body>
    <div class="markdown-body">
      <%= yield %>
    </div>
  </body>
</html>