<!doctype html>
<html>
  <head>
    <title><%= document.title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
    <script src="https://unpkg.com/gitgraph.js@1.4.0/build/gitgraph.min.js"></script>
  </head>
  <body>
    <div class="markdown-body">
      <%= yield %>
    </div>
  </body>
</html>